<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="uiglp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="uiglp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="uiglp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="uiglp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UIGLP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link rel="stylesheet" href="ac-ripple-button/ac-ripple-button.css">
</head>

<body ng-controller="AppController as appCtrl" id="main-body">
<div class="header">
    <div class="menu-mobile menu-type-mobile">
        <div class="nav-button"
             ng-click="appCtrl.menu_mobile_open = !appCtrl.menu_mobile_open;"
             ng-class="{'nav-button-transformed':appCtrl.menu_mobile_open}">
            <div ng-class="{'nav-button-top-transformed':appCtrl.menu_mobile_open}"></div>
            <div ng-class="{'nav-button-mid-transformed':appCtrl.menu_mobile_open}"></div>
            <div ng-class="{'nav-button-bot-transformed':appCtrl.menu_mobile_open}"></div>
        </div>
        <div class="header-separator"></div>
        <div class="bienvenidos">Bienvenidos</div>
        <div class="logo">

            <img  src="img/logo.png" alt="logo" height="45px" width="45px">


        </div>
    </div>
    <div class="menu-desktop menu-type-desktop">

        <div id="menu-desktop-logo" ng-click="appCtrl.goTo({nombre: 'INICIO', path: '/'});">
            <img  src="img/logo.png" alt="logo" height="115px" width="115px">
        </div>
        <div id="menu-desktop-right">
            <div id="menu-desktop-upper"></div>
            <div id="menu-desktop-lower">

                <div id="menu-desktop-lower-inner">
                    <div class="menu-desktop-btn ac-ripple"
                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
                         ripple-color="#ffffff"
                         ng-repeat="link in appCtrl.links"
                         ng-click="appCtrl.goTo(link);"> {{link.nombre}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="menu-mobile-panel" ng-class="{'menu-mobile-panel-show':appCtrl.menu_mobile_open}">
    <div class="menu-desktop-btn ac-ripple"
         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         ripple-color="#ffffff"
         ng-repeat="link in appCtrl.links"
         ng-click="appCtrl.goTo(link); appCtrl.menu_mobile_open=false;"> {{link.nombre}}</div>
</div>

<!--[if lt IE 7]>
<!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade-->
<!--your browser</a> to improve your experience.</p>-->
<!--<![endif]&ndash;&gt;-->


<!--NG-VIEW-->


<div ng-view class="view-container" autoscroll="true"></div>

<div id="contacto">



    <h1>Teléfonos:</h1><br>
    <h2>Administración: Tel.: 0221 423 - 4505</h2><br>
    <h2>Depto. de Desarrollo Productivo:</h2>
     <h2>Tel.: 0221 422 - 3916</h2><br>

    <h1>Escribanos:</h1><br>
    <h2>uiglp@uiglp.org.ar</h2><br>
    <h2>administracion@uiglp.org.ar</h2><br>


</div>
<div id="footer">

    <div ng-click="appCtrl.goTo({nombre: 'INICIO', path: '/'});">INICIO</div>
    -
    <div ng-click="appCtrl.goTo({nombre: 'INSTITUCIONAL', path: '/institucional'});">INSTITUCIONAL</div>
    -
    <div ng-click="appCtrl.goTo({nombre: 'BUSQUEDA LABORAL', path: '/busquedas_laborales'});">CLASIFICADOS</div>
    -
    <div ng-click="appCtrl.goTo({nombre: 'NOTICIAS', path: '/noticias/0'});">AGENDA</div>
    -
    <div ng-click="appCtrl.goTo({nombre: 'CONTACTO', path: '/contacto'});">CONTACTO</div>
    -
    <div ng-click="appCtrl.goTo({nombre: 'REVISTA', path: '/revistas'});">REVISTA</div>
    <div ng-click="appCtrl.goTo({nombre: 'INGRESO', path: '/ingreso'});">INGRESO</div>

</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
<script src="bower_components/ac-angular-login-carrito/app/login.js"></script>
<script src="ac-ripple-button/ac-ripple-button.js"></script>
<script src="bower_components/ac-angular-noticias/ac-noticias.js"></script>
<script src="bower_components/ac-angular-slider-manager/slider-manager.js"></script>
<script src="utils/utils.js"></script>
<script src="revistas/issuu.js" async="true"></script>
<script src="app.js"></script>
<script src="main/main.js"></script>
<script src="ingreso/ingreso.js"></script>
<script src="administracion/administracion.js"></script>
<script src="institucional/institucional.js"></script>
<script src="ofertas_laborales/ofertas_laborales.js"></script>
<script src="nuevo_usuario/nuevo_usuario.js"></script>
<script src="noticias/noticias.js"></script>
<script src="busquedas_laborales/busquedas_laborales.js"></script>
<script src="servicios/servicios.js"></script>
<script src="revistas/revistas.js"></script>
<script src="contacto/contacto.js"></script>
</body>
</html>
