<!doctype html>
<html lang="en">
<!--&lt;!&ndash;[if lt IE 7]>-->

<!--<html lang="en" ng-app="uiglp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]&ndash;&gt;-->

<!--&lt;!&ndash;[if IE 7]>-->

<!--<html lang="en" ng-app="uiglp" class="no-js lt-ie9 lt-ie8"> <![endif]&ndash;&gt;-->

<!--&lt;!&ndash;[if IE 8]>-->

<!--<html lang="en" ng-app="uiglp" class="no-js lt-ie9"> <![endif]&ndash;&gt;-->

<!--&lt;!&ndash;[if gt IE 8]>&lt;!&ndash;>-->

<!--<html lang="en" ng-app="uiglp" class="no-js"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>UIGLP</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/screen.css">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--<link rel="stylesheet" href="ac-ripple-button/ac-ripple-button.css">-->
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
    <script>

        /*
         * Date Format 1.2.3
         * (c) 2007-2009 Steven Levithan <stevenlevithan.com>
         * MIT license
         *
         * Includes enhancements by Scott Trenda <scott.trenda.net>
         * and Kris Kowal <cixar.com/~kris.kowal/>
         *
         * Accepts a date, a mask, or a date and a mask.
         * Returns a formatted version of the given date.
         * The date defaults to the current date/time.
         * The mask defaults to dateFormat.masks.default.
         */

        var dateFormat = function () {
            var token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
                    timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
                    timezoneClip = /[^-+\dA-Z]/g,
                    pad = function (val, len) {
                        val = String(val);
                        len = len || 2;
                        while (val.length < len) val = "0" + val;
                        return val;
                    };

            // Regexes and supporting functions are cached through closure
            return function (date, mask, utc) {
                var dF = dateFormat;

                // You can't provide utc if you skip other args (use the "UTC:" mask prefix)
                if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
                    mask = date;
                    date = undefined;
                }
                // Passing date through Date applies Date.parse, if necessary
                date = date ? new Date(date) : new Date();

                if (isNaN(date) && !(typeof InstallTrigger !== 'undefined')) throw SyntaxError("invalid date");

                mask = String(dF.masks[mask] || mask || dF.masks["default"]);

                // Allow setting the utc argument via the mask
                if (mask.slice(0, 4) == "UTC:") {
                    mask = mask.slice(4);
                    utc = true;
                }

                var _ = utc ? "getUTC" : "get",
                        d = date[_ + "Date"](),
                        D = date[_ + "Day"](),
                        m = date[_ + "Month"](),
                        y = date[_ + "FullYear"](),
                        H = date[_ + "Hours"](),
                        M = date[_ + "Minutes"](),
                        s = date[_ + "Seconds"](),
                        L = date[_ + "Milliseconds"](),
                        o = utc ? 0 : date.getTimezoneOffset(),
                        flags = {
                            d: d,
                            dd: pad(d),
                            ddd: dF.i18n.dayNames[D],
                            dddd: dF.i18n.dayNames[D + 7],
                            m: m + 1,
                            mm: pad(m + 1),
                            mmm: dF.i18n.monthNames[m],
                            mmmm: dF.i18n.monthNames[m + 12],
                            yy: String(y).slice(2),
                            yyyy: y,
                            h: H % 12 || 12,
                            hh: pad(H % 12 || 12),
                            H: H,
                            HH: pad(H),
                            M: M,
                            MM: pad(M),
                            s: s,
                            ss: pad(s),
                            l: pad(L, 3),
                            L: pad(L > 99 ? Math.round(L / 10) : L),
                            t: H < 12 ? "a" : "p",
                            tt: H < 12 ? "am" : "pm",
                            T: H < 12 ? "A" : "P",
                            TT: H < 12 ? "AM" : "PM",
                            Z: utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
                            o: (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
                            S: ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
                        };

                return mask.replace(token, function ($0) {
                    return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
                });
            };
        }();

        // Some common format strings
        dateFormat.masks = {
            "default": "ddd mmm dd yyyy HH:MM:ss",
            shortDate: "m/d/yy",
            mediumDate: "mmm d, yyyy",
            longDate: "mmmm d, yyyy",
            fullDate: "dddd, mmmm d, yyyy",
            shortTime: "h:MM TT",
            mediumTime: "h:MM:ss TT",
            longTime: "h:MM:ss TT Z",
            isoDate: "yyyy-mm-dd",
            isoTime: "HH:MM:ss",
            isoDateTime: "yyyy-mm-dd'T'HH:MM:ss",
            isoUtcDateTime: "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"
        };

        // Internationalization strings
        dateFormat.i18n = {
            dayNames: [
                "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",
                "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
            ],
            monthNames: [
                "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
                "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
            ]
        };

        // For convenience...
        Date.prototype.format = function (mask, utc) {
            return dateFormat(this, mask, utc);
        };
    </script>
    <script>
        // include angular loader, which allows the files to load in any order
        //@@NG_LOADER_START@@
        /*
         AngularJS v1.4.4
         (c) 2010-2015 Google, Inc. http://angularjs.org
         License: MIT
         */
        (function () {
            'use strict';
            function d(b) {
                return function () {
                    var a = arguments[0], e;
                    e = "[" + (b ? b + ":" : "") + a + "] http://errors.angularjs.org/1.4.4/" + (b ? b + "/" : "") + a;
                    for (a = 1; a < arguments.length; a++) {
                        e = e + (1 == a ? "?" : "&") + "p" + (a - 1) + "=";
                        var d = encodeURIComponent, c;
                        c = arguments[a];
                        c = "function" == typeof c ? c.toString().replace(/ \{[\s\S]*$/, "") : "undefined" == typeof c ? "undefined" : "string" != typeof c ? JSON.stringify(c) : c;
                        e += d(c)
                    }
                    return Error(e)
                }
            }

            (function (b) {
                function a(c, a, b) {
                    return c[a] || (c[a] = b())
                }

                var e = d("$injector"), n = d("ng");
                b = a(b, "angular", Object);
                b.$minErr = b.$minErr || d;
                return a(b, "module", function () {
                    var c = {};
                    return function (b, d, h) {
                        if ("hasOwnProperty" === b)throw n("badname", "module");
                        d && c.hasOwnProperty(b) && (c[b] = null);
                        return a(c, b, function () {
                            function c(a, b, d, e) {
                                e || (e = f);
                                return function () {
                                    e[d || "push"]([a, b, arguments]);
                                    return g
                                }
                            }

                            function a(c, e) {
                                return function (a, d) {
                                    d && "function" === typeof d && (d.$moduleName = b);
                                    f.push([c, e, arguments]);
                                    return g
                                }
                            }

                            if (!d)throw e("nomod", b);
                            var f = [], k = [], l = [], m = c("$injector", "invoke", "push",
                                    k), g = {
                                _invokeQueue: f,
                                _configBlocks: k,
                                _runBlocks: l,
                                requires: d,
                                name: b,
                                provider: a("$provide", "provider"),
                                factory: a("$provide", "factory"),
                                service: a("$provide", "service"),
                                value: c("$provide", "value"),
                                constant: c("$provide", "constant", "unshift"),
                                decorator: a("$provide", "decorator"),
                                animation: a("$animateProvider", "register"),
                                filter: a("$filterProvider", "register"),
                                controller: a("$controllerProvider", "register"),
                                directive: a("$compileProvider", "directive"),
                                config: m,
                                run: function (a) {
                                    l.push(a);
                                    return this
                                }
                            };
                            h && m(h);
                            return g
                        })
                    }
                })
            })(window)
        })(window);
        //# sourceMappingURL=bower_components/angular-loader/angular-loader.min.js.map

        //@@NG_LOADER_END@@

        // include a third-party async loader library
        /*!
         * $script.js v1.3
         * https://github.com/ded/script.js
         * Copyright: @ded & @fat - Dustin Diaz, Jacob Thornton 2011
         * Follow our software http://twitter.com/dedfat
         * License: MIT
         */
        !function (a, b, c) {
            function t(a, c) {
                var e = b.createElement("script"), f = j;
                e.onload = e.onerror = e[o] = function () {
                    e[m] && !/^c|loade/.test(e[m]) || f || (e.onload = e[o] = null, f = 1, c())
                }, e.async = 1, e.src = a, d.insertBefore(e, d.firstChild)
            }

            function q(a, b) {
                p(a, function (a) {
                    return !b(a)
                })
            }

            var d = b.getElementsByTagName("head")[0], e = {}, f = {}, g = {}, h = {}, i = "string", j = !1, k = "push", l = "DOMContentLoaded", m = "readyState", n = "addEventListener", o = "onreadystatechange", p = function (a, b) {
                for (var c = 0, d = a.length; c < d; ++c)if (!b(a[c]))return j;
                return 1
            };
            !b[m] && b[n] && (b[n](l, function r() {
                b.removeEventListener(l, r, j), b[m] = "complete"
            }, j), b[m] = "loading");
            var s = function (a, b, d) {
                function o() {
                    if (!--m) {
                        e[l] = 1, j && j();
                        for (var a in g)p(a.split("|"), n) && !q(g[a], n) && (g[a] = [])
                    }
                }

                function n(a) {
                    return a.call ? a() : e[a]
                }

                a = a[k] ? a : [a];
                var i = b && b.call, j = i ? b : d, l = i ? a.join("") : b, m = a.length;
                c(function () {
                    q(a, function (a) {
                        h[a] ? (l && (f[l] = 1), o()) : (h[a] = 1, l && (f[l] = 1), t(s.path ? s.path + a + ".js" : a, o))
                    })
                }, 0);
                return s
            };
            s.get = t, s.ready = function (a, b, c) {
                a = a[k] ? a : [a];
                var d = [];
                !q(a, function (a) {
                    e[a] || d[k](a)
                }) && p(a, function (a) {
                    return e[a]
                }) ? b() : !function (a) {
                    g[a] = g[a] || [], g[a][k](b), c && c(d)
                }(a.join("|"));
                return s
            };
            var u = a.$script;
            s.noConflict = function () {
                a.$script = u;
                return this
            }, typeof module != "undefined" && module.exports ? module.exports = s : a.$script = s
        }(this, document, setTimeout)
        // load all of the dependencies asynchronously.
        $script(['bower_components/angular/angular.min.js'], 'primero');

        $script.ready('primero', function () {

                    $script([
                        'fface.min.js',
                        'bower_components/angular-route/angular-route.min.js',
                        'bower_components/oclazyload/dist/ocLazyLoad.min.js',
                        'bower_components/angular-cookies/angular-cookies.min.js',
                        'bower_components/angular-animate/angular-animate.min.js',
                        'bower_components/a0-angular-storage/dist/angular-storage.min.js',
                        'bower_components/angular-jwt/dist/angular-jwt.min.js',
                        'bower_components/angular-toastr/dist/angular-toastr.min.js',
                        'bower_components/ac-angular-login-carrito/app/login.min.js',
                        'bower_components/ac-angular-noticias/ac-noticias.min.js',
                        'bower_components/ac-angular-slider-manager/slider-manager.min.js'], 'segundo');


                    $script.ready('segundo', function () {
                        $script(['app.min.js'], 'tercero');

                        $script.ready('tercero', function () {
                            angular.bootstrap(document, ['uiglp']);
                        });
                    });
                }
        );

    </script>


</head>
<body ng-cloak ng-controller="AppController as appCtrl" id="main-body">
<div class="header">

    <div class="menu-mobile menu-type-mobile">

        <div class="nav-button"

             ng-click="appCtrl.menu_mobile_open = !appCtrl.menu_mobile_open;"

             ng-class="{'nav-button-transformed':appCtrl.menu_mobile_open}">

            <div ng-class="{'nav-button-top-transformed':appCtrl.menu_mobile_open}"></div>

            <div ng-class="{'nav-button-mid-transformed':appCtrl.menu_mobile_open}"></div>

            <div ng-class="{'nav-button-bot-transformed':appCtrl.menu_mobile_open}"></div>

        </div>

        <div class="header-separator"></div>

        <div class="bienvenidos">Bienvenidos</div>

        <div class="logo">


            <img src="img/logo.png" alt="logo" height="45px" width="45px">


        </div>

    </div>

    <div class="menu-desktop menu-type-desktop">


        <div id="menu-desktop-logo" ng-click="appCtrl.goTo({nombre: 'INICIO', path: '/'});">

            <img src="img/logo.png" alt="logo" height="115px" width="115px">

        </div>

        <div id="menu-desktop-right">

            <div id="menu-desktop-upper"></div>

            <div id="menu-desktop-lower">


                <div id="menu-desktop-lower-inner">

                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('INICIO') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'INICIO', path: '/'});"> INICIO

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('INSTITUCIONAL') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'INSTITUCIONAL', path: '/institucional'});"> INSTITUCIONAL

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('BUSQUEDA LABORAL') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'BUSQUEDA LABORAL', path: '/busquedas_laborales'});"> BUSQUEDA
                        LABORAL

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('NOTICIAS') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'NOTICIAS', path: '/noticias/0'});"> NOTICIAS

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('CONTACTO') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'CONTACTO', path: '/contacto'});"> CONTACTO

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf('REVISTA') > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'REVISTA', path: '/revistas'});"> REVISTA

                    </div>
                    <div class="menu-desktop-btn ac-ripple"

                         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(appCtrl.links[6].nombre) > -1 }"

                         ng-click="appCtrl.goTo({nombre: 'INGRESO', path: '/ingreso'});">{{appCtrl.links[6].nombre}}

                    </div>

                </div>

            </div>

        </div>

    </div>


</div>


<div class="menu-mobile-panel" ng-class="{'menu-mobile-panel-show':appCtrl.menu_mobile_open}">

    <div class="menu-desktop-btn ac-ripple"

         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"

         ripple-color="#ffffff"

         ng-repeat="link in appCtrl.links"

         ng-click="appCtrl.goTo(link); appCtrl.menu_mobile_open=false;"> {{link.nombre}}

    </div>

</div>


<!--[if lt IE 7]>

<!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade-->

<!--your browser</a> to improve your experience.</p>-->

<!--<![endif]&ndash;&gt;-->


<!--NG-VIEW-->


<div ng-view class="view-container" autoscroll="true"></div>


<div id="footer">


    <div ng-click="appCtrl.goTo({nombre: 'INICIO', path: '/'});">INICIO</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'INSTITUCIONAL', path: '/institucional'});">INSTITUCIONAL</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'BUSQUEDA LABORAL', path: '/busquedas_laborales'});">BÚSQUEDA LABORAL</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'NOTICIAS', path: '/noticias/0'});">NOTICIAS</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'CONTACTO', path: '/contacto'});">CONTACTO</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'REVISTA', path: '/revistas'});">REVISTA</div>

    <a>|</a>


    <div ng-click="appCtrl.goTo({nombre: 'INGRESO', path: '/ingreso'});">INGRESO</div>


</div>

<div id="contacto">

    <h2>0221 423 - 4505 / 0221 422 - 3916 / uiglp@uiglp.org.ar - administracion@uiglp.org.ar</h2>

</div>

<div class="contenedor_ac">

    <div class="acdesarrollos">Powered by <A HREF="http://www.ac-desarrollos.com"> AC-desarrollos</A></div>

</div>


<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.min.js"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.min.js"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>-->

<!--<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>-->

<!--<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>-->

<!--<script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>-->

<!--<script src="bower_components/ac-angular-login-carrito/app/login.min.js"></script>-->

<!--<script src="ac-ripple-button/ac-ripple-button.min.js"></script>-->

<!--<script src="bower_components/ac-angular-noticias/ac-noticias.min.js"></script>-->

<!--<script src="bower_components/ac-angular-slider-manager/slider-manager.min.js"></script>-->

<!--<script src="utils/utils.min.js"></script>-->

<!--<script src="revistas/issuu.min.js" async="true"></script>-->

<!--<script src="app.min.js"></script>-->

<!--<script src="main/main.min.js"></script>-->

<!--<script src="ingreso/ingreso.min.js"></script>-->

<!--<script src="administracion/administracion.min.js"></script>-->

<!--<script src="institucional/institucional.min.js"></script>-->

<!--<script src="ofertas_laborales/ofertas_laborales.min.js"></script>-->

<!--<script src="nuevo_usuario/nuevo_usuario.min.js"></script>-->

<!--<script src="noticias/noticias.min.js"></script>-->

<!--<script src="busquedas_laborales/busquedas_laborales.min.js"></script>-->

<!--<script src="servicios/servicios.min.js"></script>-->

<!--<script src="revistas/revistas.min.js"></script>-->

<!--<script src="contacto/contacto.min.js"></script>-->

<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->


</body>
</html>
