/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
body {
  font-family: 'Lato Regular', serif;
  overflow-x: hidden;
}

/* line 21, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 29, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 33, ../sass/screen.scss */
.header {
  width: 100%;
  height: 50px;
  background-color: #17384A;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 600px) {
  /* line 33, ../sass/screen.scss */
  .header {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}

/* line 56, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 60, ../sass/screen.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* line 65, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 70, ../sass/screen.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
}
/* line 75, ../sass/screen.scss */
.nav-button div {
  cursor: pointer;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 90, ../sass/screen.scss */
.menu-mobile {
  display: flex;
  height: 100%;
  z-index: 100;
}
/* line 100, ../sass/screen.scss */
.menu-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  background-color: white;
}
/* line 107, ../sass/screen.scss */
.menu-mobile .logo {
  flex: 5;
}

@media (max-width: 599px) {
  /* line 114, ../sass/screen.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none;
  }
}

@media (min-width: 600px) {
  /* line 121, ../sass/screen.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none;
  }
}

/* line 128, ../sass/screen.scss */
.menu-desktop {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
}
/* line 135, ../sass/screen.scss */
.menu-desktop #menu-desktop-logo {
  flex: 2;
  min-width: 100px;
  max-width: 100px;
  padding-left: -15px;
}
/* line 143, ../sass/screen.scss */
.menu-desktop #menu-desktop-right {
  flex: 8;
  display: flex;
  flex-direction: column;
}
/* line 147, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  flex: 1;
}
/* line 152, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  max-height: 35px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 0px;
}
/* line 164, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  max-height: 26px;
  position: relative;
}
@media (max-width: 820px) {
  /* line 164, ../sass/screen.scss */
  .menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
    font-size: 11px;
  }
}
/* line 178, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: white;
  background-color: #406276;
}

/* line 189, ../sass/screen.scss */
.section-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 60px;
  width: 100%;
  font-size: 22px;
  background-color: #406276;
}
/* line 202, ../sass/screen.scss */
.section-title .decorator-01 {
  margin: 6px;
  height: 3px;
  width: 3px;
  background-color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* line 211, ../sass/screen.scss */
.section-title .decorator-02 {
  margin: 6px;
  height: 6px;
  width: 6px;
  background-color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* line 220, ../sass/screen.scss */
.section-title .decorator-03 {
  margin: 6px;
  height: 9px;
  width: 9px;
  background-color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* line 231, ../sass/screen.scss */
#slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  z-index: 0;
  background-color: black;
  overflow: hidden;
}
/* line 240, ../sass/screen.scss */
#slider #slider-main {
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
/* line 249, ../sass/screen.scss */
#slider #slider-main #slide-01,
#slider #slider-main #slide-02,
#slider #slider-main #slide-03,
#slider #slider-main #slide-04 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 600px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 270, ../sass/screen.scss */
#slider #slider-main #slide-01 {
  background: black url(../img/img-01.jpg) 50% 50% no-repeat;
}
/* line 273, ../sass/screen.scss */
#slider #slider-main #slide-02 {
  background: black url(../img/img-02.jpg) 50% 50% no-repeat;
}
/* line 276, ../sass/screen.scss */
#slider #slider-main #slide-03 {
  background: black url(../img/img-03.jpg) 50% 50% no-repeat;
}
/* line 279, ../sass/screen.scss */
#slider #slider-main #slide-04 {
  background: black url(../img/img-04.jpg) 50% 50% no-repeat;
}
/* line 283, ../sass/screen.scss */
#slider #slider-main .slide-shown-add {
  -webkit-animation: show-slide .4s;
  -o-animation: show-slide .4s;
  animation: show-slide .4s;
}
/* line 289, ../sass/screen.scss */
#slider #slider-main .slide-shown {
  opacity: 1 !important;
}
/* line 293, ../sass/screen.scss */
#slider #slider-main .slide-shown-remove {
  -webkit-animation: hide-slide .4s;
  -o-animation: hide-slide .4s;
  animation: hide-slide .4s;
}
@keyframes show-slide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    -moz-transform: translate3d(-200%, 0, 0);
    -ms-transform: translate3d(-200%, 0, 0);
    -o-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes hide-slide {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}
/* line 338, ../sass/screen.scss */
#slider #slider-footer {
  min-height: 40px;
  height: 40px !important;
  width: 100%;
  background-color: #17384B;
  display: flex;
  justify-content: center;
  border: 0px solid;
  border-top-width: 1px;
  border-top-color: white;
}
/* line 350, ../sass/screen.scss */
#slider #slider-footer div {
  margin: 10px;
  height: 18px;
  width: 18px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 360, ../sass/screen.scss */
#slider #slider-footer .slider-footer-selected {
  background-color: white;
}

/* line 366, ../sass/screen.scss */
.slide-titulo {
  font-size: 150px;
  font-family: 'Lato Heavy', serif;
  opacity: .4;
}

/* line 372, ../sass/screen.scss */
.slide-descr {
  font-size: 50px;
  font-family: 'Lato Regular', serif;
  opacity: .4;
}

/* line 378, ../sass/screen.scss */
#servicios {
  margin-top: 600px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
/* line 384, ../sass/screen.scss */
#servicios span {
  text-align: center;
  color: #ffffff;
}
/* line 388, ../sass/screen.scss */
#servicios #servicios-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 388, ../sass/screen.scss */
  #servicios #servicios-list {
    -webkit-flex-direction: row;
    /* works with row or column */
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 409, ../sass/screen.scss */
#servicios #servicios-list #servicio-01,
#servicios #servicios-list #servicio-02 {
  margin-top: 50px;
  margin-bottom: 50px;
  left: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 380px;
}
/* line 422, ../sass/screen.scss */
#servicios #servicios-list #servicio-01 .servicio-texto,
#servicios #servicios-list #servicio-02 .servicio-texto {
  margin: 10px;
  width: 100%;
  min-height: 100px;
  max-width: 280px;
  color: #16374a;
}
/* line 429, ../sass/screen.scss */
#servicios #servicios-list #servicio-01 .servicio-texto .servicio-titulo,
#servicios #servicios-list #servicio-02 .servicio-texto .servicio-titulo {
  font-size: 30px;
  padding-bottom: 10px;
  font-family: 'Lato Heavy', serif;
  font-variant: small-caps;
}
@media (min-width: 800px) {
  /* line 429, ../sass/screen.scss */
  #servicios #servicios-list #servicio-01 .servicio-texto .servicio-titulo,
  #servicios #servicios-list #servicio-02 .servicio-texto .servicio-titulo {
    font-size: 34px;
  }
}
/* line 442, ../sass/screen.scss */
#servicios #servicios-list #servicio-01 .servicio-texto .servicio-detalle,
#servicios #servicios-list #servicio-02 .servicio-texto .servicio-detalle {
  font-family: 'Lato Regular', serif;
  font-size: 20px;
  color: black;
  line-height: 22px;
}
@media (min-width: 800px) {
  /* line 442, ../sass/screen.scss */
  #servicios #servicios-list #servicio-01 .servicio-texto .servicio-detalle,
  #servicios #servicios-list #servicio-02 .servicio-texto .servicio-detalle {
    font-size: 25px;
    min-width: 250px;
  }
}
/* line 458, ../sass/screen.scss */
#servicios #servicios-list #servicio-01 .servicio-icono,
#servicios #servicios-list #servicio-02 .servicio-icono {
  border-radius: 150px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  background-color: #b3d4fc;
  margin: 5px;
  -webkit-box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  box-shadow: 5px 5px 10px black;
}
@media (min-width: 800px) {
  /* line 458, ../sass/screen.scss */
  #servicios #servicios-list #servicio-01 .servicio-icono,
  #servicios #servicios-list #servicio-02 .servicio-icono {
    width: 180px;
    height: 180px;
    min-width: 180px;
  }
}
/* line 479, ../sass/screen.scss */
#servicios #servicios-list #servicios-action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 800px) {
  /* line 479, ../sass/screen.scss */
  #servicios #servicios-list #servicios-action-bar {
    -webkit-flex-direction: column;
    /* works with row or column */
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 493, ../sass/screen.scss */
#servicios #servicios-list #servicios-action-bar #servicios-separator {
  background-color: #133548;
  height: 3px;
  min-width: 2px;
  width: 250px;
  margin-right: 5px;
}
@media (min-width: 800px) {
  /* line 493, ../sass/screen.scss */
  #servicios #servicios-list #servicios-action-bar #servicios-separator {
    height: 200px;
    width: 2px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

/* line 517, ../sass/screen.scss */
.btn-leer-mas {
  width: 110px;
  font-family: 'Lato Heavy', serif;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #133548;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 8px;
  white-space: nowrap;
  text-align: center;
}

/* line 531, ../sass/screen.scss */
.btn-leer-mas:hover {
  color: white;
  background-color: #133548;
}

/* line 537, ../sass/screen.scss */
#noticias {
  background-color: #17384B;
  display: flex;
  flex-direction: column;
}
/* line 543, ../sass/screen.scss */
#noticias span {
  text-align: center;
  color: #ffffff;
}
/* line 547, ../sass/screen.scss */
#noticias #noticias-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 547, ../sass/screen.scss */
  #noticias #noticias-list {
    -webkit-flex-direction: row;
    /* works with row or column */
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 569, ../sass/screen.scss */
#noticias #noticias-list .noticia {
  width: 290px;
  height: 420px;
  margin: 10px;
  max-width: 80%;
  background-color: #17384B;
  border: 4px solid white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* line 587, ../sass/screen.scss */
#noticias #noticias-list .noticia h2 {
  width: 90%;
  margin-bottom: 5px;
  text-align: left;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
  color: white;
}
/* line 598, ../sass/screen.scss */
#noticias #noticias-list .noticia img {
  width: 90%;
  height: 40%;
  margin-top: 4%;
  margin-bottom: 15px;
  max-height: 150px;
  background-color: #cccccc;
  border: 4px solid white;
  outline: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 612, ../sass/screen.scss */
#noticias #noticias-list .noticia p {
  font-family: 'Montserrat Light', serif;
  width: 90%;
  margin-bottom: 10px;
  text-align: left;
  max-height: 155px;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  color: white;
}
/* line 625, ../sass/screen.scss */
#noticias #noticias-list .noticia .btn-leer-mas {
  max-width: 110px;
  color: white;
  font-size: 12px;
  border-color: white;
}
/* line 632, ../sass/screen.scss */
#noticias #noticias-list .noticia .btn-leer-mas:hover {
  background-color: white;
  color: #133548;
}

/* line 643, ../sass/screen.scss */
#agendas {
  background-color: #406276;
  display: flex;
  flex-direction: column;
}
/* line 649, ../sass/screen.scss */
#agendas #agendas-title {
  text-align: center;
  color: #17384B;
  background-color: white;
}
/* line 653, ../sass/screen.scss */
#agendas #agendas-title .decorator-01,
#agendas #agendas-title .decorator-02,
#agendas #agendas-title .decorator-03 {
  background-color: #17384B;
}
/* line 659, ../sass/screen.scss */
#agendas #agendas-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 659, ../sass/screen.scss */
  #agendas #agendas-list {
    -webkit-flex-direction: row;
    /* works with row or column */
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
/* line 684, ../sass/screen.scss */
#agendas #agendas-list #agenda-calendar-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
/* line 694, ../sass/screen.scss */
#agendas #agendas-list #agenda-calendar-header span {
  margin-left: 30px;
  margin-right: 30px;
}
/* line 701, ../sass/screen.scss */
#agendas #agendas-list #agenda-calendar {
  border: 4px solid white;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjM2U1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNmNjE3NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c3e52), color-stop(100%, #3f6175));
  background-image: -moz-linear-gradient(left, #1c3e52, #3f6175);
  background-image: -webkit-linear-gradient(left, #1c3e52, #3f6175);
  background-image: linear-gradient(to right, #1c3e52, #3f6175);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
/* line 711, ../sass/screen.scss */
#agendas #agendas-list .agenda-dias {
  width: 300px;
  height: 300px;
  margin: 30px;
  max-width: 80%;
  background-color: #b3d4fc;
  -webkit-box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  box-shadow: 5px 5px 10px black;
}
@media (min-width: 800px) {
  /* line 711, ../sass/screen.scss */
  #agendas #agendas-list .agenda-dias {
    margin-right: 0px;
  }
}
/* line 724, ../sass/screen.scss */
#agendas #agendas-list .agenda-dias #agenda-calendar-container {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  width: 85%;
  height: 75%;
}
/* line 734, ../sass/screen.scss */
#agendas #agendas-list .agenda-dias #agenda-calendar-container table {
  width: 100%;
  height: 100%;
}
/* line 735, ../sass/screen.scss */
#agendas #agendas-list .agenda-dias #agenda-calendar-container table th {
  font-weight: bold;
}
/* line 744, ../sass/screen.scss */
#agendas #agendas-list img {
  width: 300px;
  height: 300px;
  max-height: 300px;
  background-color: #ffffff;
}
@media (min-width: 800px) {
  /* line 744, ../sass/screen.scss */
  #agendas #agendas-list img {
    margin-left: 10px;
  }
}
/* line 754, ../sass/screen.scss */
#agendas #agendas-list #agenda-detail {
  width: 300px;
  height: 300px;
  margin: 30px;
  max-width: 80%;
  background-color: white;
  border: 4px solid #1c3e52;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  box-shadow: 5px 5px 10px black;
}
@media (min-width: 800px) {
  /* line 754, ../sass/screen.scss */
  #agendas #agendas-list #agenda-detail {
    margin-left: 10px;
    height: 300px;
  }
}
/* line 770, ../sass/screen.scss */
#agendas #agendas-list #agenda-detail h2 {
  font-weight: bold;
  font-size: 30px;
}
/* line 774, ../sass/screen.scss */
#agendas #agendas-list #agenda-detail #agenda-separator {
  width: 90%;
  height: 2px;
  background-color: #1c3e52;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 781, ../sass/screen.scss */
#agendas #agendas-list #agenda-detail p {
  max-height: 220px;
  overflow: hidden;
}

/* line 791, ../sass/screen.scss */
#empresas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 797, ../sass/screen.scss */
#empresas #empresas-title {
  color: white;
  background-color: black;
}
/* line 802, ../sass/screen.scss */
#empresas #empresas-carrousel {
  height: 190px;
  background-color: white;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
@media (min-width: 800px) {
  /* line 802, ../sass/screen.scss */
  #empresas #empresas-carrousel {
    width: 900px;
    max-width: 1000px;
  }
}
/* line 814, ../sass/screen.scss */
#empresas #empresas-carrousel #empresas-list {
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 1600px;
  max-width: 1600px;
}
/* line 821, ../sass/screen.scss */
#empresas #empresas-carrousel #empresas-list .empresa {
  height: 60px;
  width: 150px;
  background-color: lightgray;
  margin: 10px;
}

/* line 831, ../sass/screen.scss */
#contacto {
  background-color: #133548;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 837, ../sass/screen.scss */
#contacto #contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
}
@media (min-width: 800px) {
  /* line 837, ../sass/screen.scss */
  #contacto #contacto-container {
    flex-direction: row;
    max-width: 800px;
    align-items: flex-start;
  }
}
/* line 849, ../sass/screen.scss */
#contacto #contacto-container #contacto h1 {
  color: red;
  font-size: 40px;
}
/* line 854, ../sass/screen.scss */
#contacto #contacto-container div {
  max-width: 80%;
  min-width: 80%;
}
@media (min-width: 800px) {
  /* line 854, ../sass/screen.scss */
  #contacto #contacto-container div {
    max-width: 350px;
    min-width: 350px;
  }
}
/* line 861, ../sass/screen.scss */
#contacto #contacto-container div input[type=text],
#contacto #contacto-container div textarea {
  width: 90%;
  right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 800px) {
  /* line 861, ../sass/screen.scss */
  #contacto #contacto-container div input[type=text],
  #contacto #contacto-container div textarea {
    max-width: 350px;
  }
}
@media (min-width: 800px) {
  /* line 872, ../sass/screen.scss */
  #contacto #contacto-container div #contacto-enviar-mobile {
    height: 0px;
    width: 0px;
    visibility: collapse;
    display: none;
  }
}
@media (max-width: 800px) {
  /* line 881, ../sass/screen.scss */
  #contacto #contacto-container div #contacto-enviar-desktop {
    height: 0px;
    width: 0px;
    visibility: collapse;
    display: none;
  }
}

/* line 897, ../sass/screen.scss */
#footer {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 904, ../sass/screen.scss */
#footer div {
  margin: 5px;
}

/*SECCIONES DE ADMINISTRACION*/
/* line 910, ../sass/screen.scss */
#ingreso {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  /* line 910, ../sass/screen.scss */
  #ingreso {
    margin-top: 50px;
  }
}

/* line 922, ../sass/screen.scss */
#administracion,
#noticias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin-top: 100px;
}
@media (max-width: 600px) {
  /* line 922, ../sass/screen.scss */
  #administracion,
  #noticias {
    margin-top: 50px;
  }
}

/* line 947, ../sass/screen.scss */
.administracion-title,
#administracion-form,
.administracion-separator,
.nuevo-usuario-title,
#nuevo-usuario-form,
.nuevo-usuario-separator,
.ingreso-title,
#ingreso-form,
.ingreso-title,
#noticias-form,
.noticias-title {
  max-width: 1000px;
}

/* line 962, ../sass/screen.scss */
#ingreso-form {
  width: 100%;
}

/* line 966, ../sass/screen.scss */
#administracion-form,
#nuevo-usuario-form,
#ingreso-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* line 972, ../sass/screen.scss */
#administracion-form .administracion-inputs,
#administracion-form .nuevo-usuario-inputs,
#nuevo-usuario-form .administracion-inputs,
#nuevo-usuario-form .nuevo-usuario-inputs,
#ingreso-form .administracion-inputs,
#ingreso-form .nuevo-usuario-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 981, ../sass/screen.scss */
#administracion-oferta,
#administracion-noticias,
#administracion-slider {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 991, ../sass/screen.scss */
.administracion-title,
.nuevo-usuario-title,
.noticias-title {
  width: 100%;
  font-size: 83px;
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 400;
  color: #17384B;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dedede), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #dedede, #ffffff);
  background-image: -webkit-linear-gradient(left, #dedede, #ffffff);
  background-image: linear-gradient(to right, #dedede, #ffffff);
}
@media (max-width: 600px) {
  /* line 991, ../sass/screen.scss */
  .administracion-title,
  .nuevo-usuario-title,
  .noticias-title {
    font-size: 42px;
  }
}

/* line 1007, ../sass/screen.scss */
.administracion-input,
.nuevo-usuario-input {
  display: flex;
  flex-direction: column;
}
/* line 1015, ../sass/screen.scss */
.administracion-input input,
.administracion-input select,
.nuevo-usuario-input input,
.nuevo-usuario-input select {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #17384B;
  max-width: 360px;
  background-color: transparent;
}

/* line 1028, ../sass/screen.scss */
.administracion-button-bar,
.nuevo-usuario-button-bar {
  display: flex;
  flex-direction: row;
}
/* line 1034, ../sass/screen.scss */
.administracion-button-bar button,
.nuevo-usuario-button-bar button {
  background-color: transparent;
  border: 1px solid transparent;
}
/* line 1038, ../sass/screen.scss */
.administracion-button-bar button:hover,
.nuevo-usuario-button-bar button:hover {
  border-bottom-color: #17384B;
}

/* line 1043, ../sass/screen.scss */
.administracion-separator {
  width: 100%;
  height: 2px !important;
  min-height: 2px;
  border-bottom: dashed 1px #17384B;
}

/*NOTICIAS*/
/* line 1051, ../sass/screen.scss */
#noticias-filtro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 1055, ../sass/screen.scss */
#noticias-filtro select {
  max-width: 30%;
  min-width: 30%;
  color: white;
  border: 1px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}

/* line 1097, ../sass/screen.scss */
#noticias-main {
  background-color: #133548;
}

/* line 1102, ../sass/screen.scss */
#noticias-form {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

@media (min-width: 600px) {
  /* line 1112, ../sass/screen.scss */
  #noticias-panel-fotos {
    max-width: 50%;
  }
}
/* line 1116, ../sass/screen.scss */
#noticias-panel-fotos #noticias-panel-fotos-main {
  overflow: hidden;
}
/* line 1118, ../sass/screen.scss */
#noticias-panel-fotos #noticias-panel-fotos-main img {
  max-height: 400px;
}
/* line 1123, ../sass/screen.scss */
#noticias-panel-fotos #noticias-panel-fotos-thumbs img {
  max-width: 25%;
}

/* line 1129, ../sass/screen.scss */
#noticias-panel-texto {
  color: white;
}
/* line 1131, ../sass/screen.scss */
#noticias-panel-texto #noticias-panel-titulo {
  width: 90%;
  margin-bottom: 5px;
  text-align: left;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
}
/* line 1141, ../sass/screen.scss */
#noticias-panel-texto #noticias-panel-detalle {
  font-family: 'Montserrat Light', serif;
  width: 90%;
  margin-bottom: 10px;
  text-align: left;
  max-height: 155px;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

@media (min-width: 600px) {
  /* line 1154, ../sass/screen.scss */
  #noticias-panel {
    display: flex;
    flex-direction: row-reverse;
  }
}

/* line 1161, ../sass/screen.scss */
#noticias-nuevo-comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* line 1166, ../sass/screen.scss */
#noticias-nuevo-comentario textarea {
  width: 90%;
  right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 1173, ../sass/screen.scss */
#noticias-nuevo-comentario div {
  width: 90%;
  position: relative;
  margin-top: -45px;
  margin-bottom: 20px;
}
/* line 1178, ../sass/screen.scss */
#noticias-nuevo-comentario div #noticias-nuevo-btn {
  margin-left: 10px;
}

/* line 1184, ../sass/screen.scss */
#noticias-comentarios {
  background-color: #133548;
  color: white;
}
/* line 1187, ../sass/screen.scss */
#noticias-comentarios #noticias-comentarios-list {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 1194, ../sass/screen.scss */
#noticias-comentarios #noticias-comentarios-title {
  width: 90%;
  margin-bottom: 5px;
  text-align: left;
  font-size: 25px;
  line-height: 25px;
}
/* line 1202, ../sass/screen.scss */
#noticias-comentarios .noticias-comentario {
  max-width: 90%;
}
/* line 1205, ../sass/screen.scss */
#noticias-comentarios .noticias-comentario .noticia-comentario-user {
  line-height: 24px;
  font-size: 23px;
}
/* line 1210, ../sass/screen.scss */
#noticias-comentarios .noticias-comentario .noticia-comentario-detalle {
  line-height: 18px;
  font-size: 17px;
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lato Regular"), url("Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"), url("Montserrat-Regular.otf") format("woff");
}
@font-face {
  font-family: 'Lato Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("Lato Heavy"), url("Lato-Heavy.ttf") format("woff");
}
@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: normal;
  src: local("Lato Light"), url("Lato-Light.ttf") format("woff");
}
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Light"), url("Montserrat-Light.otf") format("woff");
}
