<div ng-controller="AdministracionController as administracionCtrl" id="administracion">
    <div id="administracion-titulo" class="administracion-title">
        HOLA {{administracionCtrl.usuario.nombre}}
    </div>

    <div id="administracion-form">
        <div class="administracion-sub-title">DETALLE DE TU INFORMACION</div>
        <div class="administracion-inputs">
            <div class="administracion-input">
                <span>NOMBRE</span>
                <input type="text" ng-model="administracionCtrl.usuario.nombre">
            </div>
            <div class="administracion-input">
                <span>APELLIDO</span>
                <input type="text" ng-model="administracionCtrl.usuario.apellido">
            </div>
            <div class="administracion-input">
                <span>CUIT</span>
                <input type="text" ng-model="administracionCtrl.usuario.nro_doc">
            </div>
            <div class="administracion-input">
                <span>TELEFONO</span>
                <input type="text" ng-model="administracionCtrl.usuario.telefono">
            </div>
            <div class="administracion-input">
                <span>CONTRASEÑA</span>
                <input type="password" ng-model="administracionCtrl.usuario.password">
            </div>
            <div class="administracion-input">
                <span>DIRECCION</span>
                <input type="text" ng-model="administracionCtrl.usuario.direccion">
            </div>
            <div class="administracion-input">
                <span>MAIL</span>
                <input type="email" ng-model="administracionCtrl.usuario.mail">
            </div>
            <div class="administracion-input">
                <span>ROL</span>
                <select ng-model="administracionCtrl.usuario.rol_id">
                    <option value="0">Usuario</option>
                    <option value="1">Administrador</option>
                </select>
            </div>

        </div>

        <div class="administracion-button-bar">
            <button ng-click="administracionCtrl.updateUsuario();">GUARDAR</button>
            <button ng-click="administracionCtrl.usuario = administracionCtrl.logged;">CANCELAR</button>
        </div>
        <table id="administracion-usuarios-tabla" class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>CUIT</th>
                <th style="width: 5%;text-align: center" colspan="1">Acciones</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="row in administracionCtrl.usuarios | filter:administracionCtrl.filtro">

                <td class="">{{row.nombre}}</td>
                <td class="">{{row.apellido}}</td>
                <td class="">{{row.nro_doc}}</td>
                <td class="">
                    <button ng-click="administracionCtrl.modificarUsuario(row);"
                            class="btn-medium btn-visibility"></button>
                    <label>Modificar</label>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="administracion-separator"></div>
    <div id="administracion-oferta">
        <div class="administracion-sub-title">SUBIR OFERTA LABORAL</div>
        <div class="administracion-input">
            <span>TITULO</span>
            <input type="text">
        </div>
        <div class="administracion-input">
            <span>DESCRIPCIÓN</span>
            <textarea></textarea>
        </div>
        <div class="administracion-button-bar">
            <button>GUARDAR</button>
        </div>
    </div>
    <div class="administracion-separator"></div>
    <div id="administracion-noticias">
        <div class="administracion-sub-title">CARGA UNA NOTICIA</div>
        <div class="administracion-renglon">
            <div class="administracion-input">
                <span>TITULO</span>
                <input type="text">
            </div>
            <div class="administracion-fotos">
                <div class="administracion-foto">
                    <span>FOTO1</span>

                    <div></div>
                </div>
                <div class="administracion-foto">
                    <span>FOTO1</span>

                    <div></div>
                </div>
                <div class="administracion-foto">
                    <span>FOTO1</span>

                    <div></div>
                </div>
                <div class="administracion-foto">
                    <span>FOTO1</span>

                    <div></div>
                </div>
            </div>
        </div>
        <div class="administracion-input">
            <span>DESCRIPCIÓN</span>
            <textarea></textarea>
        </div>
        <div class="administracion-button-bar">
            <button>GUARDAR</button>
            <button>BORRAR</button>
        </div>

        <div id="administracion-noticias-listado">
            <table id="administracion-noticias-tabla" class="table table-striped">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Titulo</th>
                    <th style="width: 5%;text-align: center" colspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="row in listadoNoticiasCtrl.noticias | filter:listadoNoticiasCtrl.filtro">

                    <td class="">{{row.fecha | date}}</td>
                    <td class="">{{row.titulo}}</td>
                    <td class="">
                        <div class="btn">
                            <button class="btn-medium btn-archive"
                                    ng-click="listadoNoticiasCtrl.cancelarDeuda();"></button>
                            <label>Cancelar Deuda</label>
                        </div>
                    </td>
                    <td class="">
                        <button ng-click="listadoNoticiasCtrl.detalle(row.noticia_id);"
                                class="btn-medium btn-visibility"></button>
                        <label>Ver Detalle</label>
                    </td>

                </tr>
                </tbody>
            </table>
            <table id="administracion-comentarios-tabla" class="table table-striped">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Titulo</th>
                    <th style="width: 5%;text-align: center" colspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="row in listadoNoticiasCtrl.noticias | filter:listadoNoticiasCtrl.filtro">

                    <td class="">{{row.fecha | date}}</td>
                    <td class="">{{row.titulo}}</td>
                    <td class="">
                        <div class="btn">
                            <button class="btn-medium btn-archive"
                                    ng-click="listadoNoticiasCtrl.cancelarDeuda();"></button>
                            <label>Cancelar Deuda</label>
                        </div>
                    </td>
                    <td class="">
                        <button ng-click="listadoNoticiasCtrl.detalle(row.noticia_id);"
                                class="btn-medium btn-visibility"></button>
                        <label>Ver Detalle</label>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="administracion-separator"></div>
    <div id="administracion-slider">
        <div class="administracion-sub-title">SUBIR OFERTA LABORAL</div>
        <div class="administracion-input">
            <span>TITULO</span>
            <input type="text">
        </div>
        <div class="administracion-input">
            <span>DESCRIPCIÓN</span>
            <textarea></textarea>
        </div>
        <div class="administracion-button-bar">
            <button>GUARDAR</button>
        </div>
    </div>
    <div class="administracion-button-bar">
        <button ng-click="administracionCtrl.logout();">SALIR</button>
    </div>


</div>