<div ng-controller="IngresoController as ingresoCtrl" id="ingreso">
    <div id="ingreso-titulo" class="administracion-title">
        <div>Ingreso</div>
    </div>

    <div id="ingreso-form">
        <div class="administracion-input">
            <span>NOMBRE DE USUARIO</span>
            <input id="mail" type="email" ng-model="ingresoCtrl.mail" ng-keypress="ingresoCtrl.loginPrev($event);">
        </div>
        <div class="administracion-input">
            <span>CONTRASEÑA</span>
            <input id="password" type="password" ng-model="ingresoCtrl.password" ng-keypress="ingresoCtrl.loginPrev($event);">
        </div>
        <div  class="administracion-button-bar">
            <button ng-click="ingresoCtrl.login();">OK</button>
            <button ng-click="ingresoCtrl.nuevoUsuario();">NUEVO USUARIO</button>
            <button ng-click="ingresoCtrl.recuperarPassword();">RECUPERAR CONTRASEÑA</button>
        </div>

    </div>

</div>