<div ng-controller="BusquedasLaboralesController as busquedasLaboralesCtrl" id="busquedas-laborales">

    <div id="busquedas-laborales-titulo" class="busquedas-laborales-title">

        <div>Busqueda Laboral</div>

    </div>
    <div id="busqueda-laboral-search">
        <input type="text" placeholder="Ingrese los terminos relacionados a su búsqueda..." ng-model="busquedasLaboralesCtrl.filter">
    </div>
    <div id="busquedas-laborales-form">
        <div class="busqueda-laboral" ng-repeat="busqueda in busquedasLaboralesCtrl.busquedas | filter:busquedasLaboralesCtrl.filter">
            <div class="busqueda-laboral-title">{{busqueda.titulo}}</div>
            <div class="busqueda-laboral-fecha">{{busqueda.fecha}}</div>
            <div class="busqueda-laboral-texto">{{busqueda.detalle}}</div>
            <div class="busqueda-laboral-contacto">{{busqueda.cliente.mail}}</div>
            <!--<button ng-if="busquedasLaboralesCtrl.user.data.rol == 1" ng-click="busquedasLaboralesCtrl.borrarBusqueda(busqueda);">Eliminar Comentario</button>-->
        </div>

    </div>
</div>